.movieList{
    display:flex;
    flex-direction:row;

}
.lists{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    padding:0 10px;

}
.list-container{
    border:solid;
    border-color:red;
    border-radius:30px;
    padding:30px;
    margin:30px;
    background-color:rgba(231, 149, 149, 0.534);
}