h1 {
  font-size: 60px;
  margin: 50px;
  text-align: center;
  color: rgba(240, 224, 224, 0.836);
}
.titlesearchbox {
  color: white;
  font-size: 20px;
}
.centerit {
  display: flex;
  flex-direction: column;
  background-color: rgba(44, 24, 42, 0.678);
}
.regular {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-content: center;
  align-items: center;
}
.whole {
  position: fixed;
  content: "";
  background-image: url("../images/krists-luhaers-543526-unsplash.jpg");
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: -1;
  background-size: contain;
  background-position: top;
  background-size: cover;
}
